.Teachercontainer{
    border: 1px solid;
    width: 75vw;
    height: 147vh;
    margin: 0 auto ;
    overflow-x: hidden;
}
.teacherdata{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 75vw;
    transition: 1s ease-in-out;
    height: 146vh;
    justify-content: space-evenly;
    transform: translateX(0);
}
.teachercard{
    width: 20vw;
    height: 45vh;
    background-color: rgb(240, 236, 232);
    text-align: center;
    margin: 0vh 2.5vw;
    border-radius: 3vh;
}
.tc_images{
    border-radius: 1vh;
    margin-top: 1vh;
    width: 25vh;
}
.pre-slide{
    transform: rotate(170deg);
}
.next-slide{
    transform: rotate(10deg);
}
.Allbtns{
    margin: 2vh auto;
    display:flex;
    width: fit-content;
    justify-content: space-between;
    width: 39vw;
}
.innerbtndata{
    width: 3vw;
    height: 7vh;
    border-radius: 3vh;
    border: none;
    margin: 0 0.5vw;
}
.btns{
    width: 4vw;
    border-radius: 50%;
    height: 10vh;
    border: none;
}
.btnimg{
    width: 4vw;
}