.Teachercontainer{
    border: 1px solid;
    width: 75vw;
    height: 147vh;
    margin: 0 auto ;
    overflow-x: hidden;
}
.teacherdata{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 75vw;
    height: 146vh;
    justify-content: space-evenly;
    transform: translateX(0);
}
.teachercard{
    width: 20vw;
    height: 45vh;
    background-color: rgb(240, 236, 232);
    text-align: center;
    margin: 0vh 2.5vw;
    border-radius: 3vh;
}
.tc_images{
    border-radius: 1vh;
    margin-top: 1vh;
    width: 25vh;
}