*{
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}
.fullheader{
    position: relative;
}
.upperheader{
    background-image: url("https://hips.hearstapps.com/hbu.h-cdn.co/assets/17/32/hong-kong-university-edit.jpg?crop=1xw:1.0xh;center,top&resize=980:*");
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.lowerheader{
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}
.upperlower{
    display: flex;
    justify-content: space-between;
    margin: 0 0vw;
    color: white;
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.7);
}   
.main-logo{
    margin-top: 1vh;
    width: 4vw !important;
    border-radius: 20px;
    margin-left: 7vw;
}
.nav-lists{
    margin: auto 0;
    margin-left:43vw ;
}
.nav-lists a{
    color: rgb(200, 184, 184);
    text-decoration: none;
    margin: 1vh 1vw;
    font-size: large;
    /* padding-top: 4px; */
}
.nav-lists a{
    font-family: "Ubuntu";
    position: relative;
}
.nav-lists a:hover{
    color: white;
}
.nav-lists a:hover::before{
    transform: translateX(1);
    position: absolute;
    display: inline-block;
    width:100%;
    height:2px;
    top: 4vh;
    transition: 2s ease;
    background-color: white;
    content: " ";
}
.nav-lists a::before{
    transform:translateX(0);
}
.lowerlower{
    margin: 16vh 0vw 8vh;
    width: 100vw;
}
.title-head{
    color: rgb(200, 184, 184);
    margin-bottom: 6vh;
    margin-left: 7vw;
    font-family: "Ubuntu";
}
.title-center-heading{
    font-size: x-large;
    font-family: "Ubuntu";
    color: rgb(239, 232, 232);
    width: 30vw;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-bottom: 8vh;
}
.title-center-desc{
    font-size:medium;
    font-family: "Ubuntu";
    color: rgb(206, 192, 192);
    width: 50vw;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.header-btn{
    padding: 1.5vh 2vw;
    background-color: #0193DC;
    border-radius: 5px;
    border: 0;
    color: rgb(234, 225, 225);
    font-weight: bold;
}
.header-btn:hover{
    background-color: #084f73;
}