/* About page Start here */
.aboutmainimg{
    width: 80%;
    height: 60vh;
    margin: 0 auto;
    display: block;
    margin-top: 5vh;
}
.aboutdesc p{
    width: 70vw;
    margin: 0 auto;
    line-height: 2;
    font-size: large;
    font-weight: bold;
}
.aboutcontainer a{
    text-decoration: none;
    color: yellow;
    background-color: rgb(61, 54, 54);
    padding: 2vh 2vw;
    border-radius: 2vh;
    margin: 0 auto;
    display: block;
    width: max-content;
    margin-top: 2vh;
}
.aboutcontainer a:hover{
    transform: scale(1.1);
}

/* About page will be finish here */

/* Blog page will start here */

.blog-container{
    margin: 0 6vw;
}
.main-blog-title{
    margin: 3vh 0;
    margin-left: 7vw;
}

.firstblog{
    display: flex;
    width:75vw;
    margin: 0 auto;
    justify-content:space-evenly;
}
.blogone{
    width: 23vw;
}
.blog-title{
    font-weight: bold;
    text-align: center;
    font-size: large;
}
.blog-desc span{
    color: rgb(5, 120, 215);
    cursor: pointer;
}
.blog-img{
    width: 100%;
    height: 60%;
    box-sizing: border-box;
}
.part1_second{
    width: 90%;
    text-align: center;
}
.secondpart{
    display: flex;
    width: 70vw;
    margin: 0 auto;
    margin-top: 7vh;
    justify-content: space-evenly;
}
.part2_img{
    height: 100%;
    width: 80%;
}
.part2_title{
    font-weight: bold;
}
.part2_second{
    width: 60%;
}
.part2_second a{
    text-decoration: none;
}
.part2_btn{
    margin: 0 auto;
    display: block;
    padding: 1vh 1.5vw;
    background-color: #0193DC;
    border-radius: 5px;
    border: 0;
    color: rgb(247, 243, 243);
    font-weight: bold;
}

.thiredblog{
    display: grid;
    width:75vw;
    grid-template-columns: auto auto auto;    
    margin: 0 auto;
    margin-top: 10vh;
}
.posts{
    width: 70vw;
    margin-top: 3vh;
    margin-left: 6vw;
}
.posts h3{
    font-weight: bold;
}
.innerposts{
    display: flex;
    flex-wrap: wrap;
}

.innerposts p{
    font-weight: bold;
    margin: 1vh 1vw;
    border-radius: 20vh;
    width: fit-content;
    color: rgb(134, 124, 124);
    border: 2px solid #0193DC;
    padding: 0.5vh 1vw;
    text-transform: uppercase;
}
.innerposts p:hover{
    background-color: #0193DC;
    color: white;
    cursor: pointer;
}

/* Blog page will finish here */

/* Contact page will start here */

.contact_container{
    display: flex;
    justify-content: space-evenly;
}
.input_contact_container{
    width: 40vw;
    /* margin: 0 auto; */
    background-color:aliceblue;
    margin-top: 2vh;
    padding: 2vh;
}
.maps{
    width: 40vw;
    margin-top: 5vh;
}
.input_contact_container p{
    margin-bottom: 0;
    font-size: large;
}
.input_contact_container input{
    outline: none;
    font-size: 3vh;
}
.names{
    display: flex;
    justify-content:space-evenly;
}
.email input{
    width: 30vw;
}
.email{
    margin-left: 2.2vw;
    margin-top: 3vh;
}
.numbers input{
    width: 30vw;
}
.numbers{
    margin-left: 2.2vw;
    margin-top: 3vh;
}
.address{
    margin-left: 2.2vw;
    margin-top: 3vh;
}
.address textarea{
    resize: none;
    outline: none;
    font-size: 3vh;
}
.submitbtn{
    margin: 2vh auto;
    display: block;
    padding: 1vh 1.5vw;
    background-color: #0193DC;
    border-radius: 5px;
    border: 0;
    color: rgb(247, 243, 243);
    font-weight: bold;

}

/* Contact page will finish here */